# Ignore arquivos binários
*.o
*.out
*.exe
hash160_checker

# Ignore pastas de build
build/
cmake-build-debug/
cmake-build-release/

# Ignore arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignore logs e outros arquivos gerados
*.log
*.tmp

# Ignore configurações de IDEs
.idea/
.vscode/
